{% extends "base.html" %}
{% load json_filter %}

{% block title %}Displaying Credentials{% endblock title %}

{% block menu %}
  <li><a href="/credentials">Credentials</a></li>

{% endblock menu %}

{% block content %}
<br>
  <h1>All received Credentials</h1>

  {% for credential in credentials %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="/credentials/{{ credential.referent }}">{{ credential.referent }}</a></h5>
      <p class="card-text">
        <strong>Referent:</strong> {{ credential.referent }}<br>
        <strong>Schema ID:</strong> {{ credential.schema_id }}<br>
        <strong>Credential Definition ID:</strong> <br>{{ credential.cred_def_id }}<br>
        <strong>Revocation Registry ID:</strong> <br>{{ credential.rev_reg_id }}<br>
        <strong>Credential Revocation ID:</strong> {{ credential.cred_rev_id }}<br>
      <p class="card-attributes">
      <strong>Attributes:</strong> <br>
      {% for key, value in credential.attrs.items %}
      {{ key }}: {{ value }}<br>
      {% endfor %}
      </p>
      </p>
    </div>
  </div>
  {% endfor %}





{% endblock content %}