{% extends "base.html" %}


{% block title %}Displaying Credentials{% endblock title %}

{% block menu %}
  <li><a href="/credentials">Credentials</a></li>

{% endblock menu %}

{% block content %}
<br>
  <h1>Credential Detail</h1>

  {% if delete %}
  <p class="error">
      Deleting the credential was not successful!
  </p>
  {% endif %}
  {% if show %}
  {% if revoked %}
  <p class="error">
      The credential is revoked and no longer valid!
  </p>
  {% endif %}
  {% if not revoked %}
  <p class="success">
    The credential is not revoked and valid!
</p>
  {% endif %}
  {% endif %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ referent }}</h5>
      <p class="card-text">
        <strong>Credential Metadata</strong><br>
        <strong>Referent:</strong> {{ credential.referent }}<br>
        <strong>Schema ID:</strong> {{ credential.schema_id }}<br>
        <strong>Credential Definition ID:</strong> <br>{{ credential.cred_def_id }}<br>
        <strong>Revocation Registry ID:</strong> <br>{{ credential.rev_reg_id }}<br>
        <strong>Credential Revocation ID:</strong> {{ credential.cred_rev_id }}<br>
      <p class="card-attributes">
      <strong>Attributes:</strong> <br>
      {% for key, value in credential.attrs.items %}
      {{ key }}: {{ value }}<br>
      {% endfor %}
      </p>
      </p>
    </div>
  </div>
  <a href="/credentials/delete/{{ credential.referent }}" style="margin-left: 10px;">
    <input type="button" value="Delete Credential">
  </a>
  <a href="/credentials/revoked/{{ credential.referent }}" style="margin-left: 10px;">
    <input type="button" value="Check Revocation Status">
  </a>
  <a href="/credentials/" style="margin-left: 10px;">
    <input type="button" value="Back">
  </a>
  

{% endblock content %}