{% extends "base.html" %}

{% block title %}Displaying Credentials{% endblock title %}

{% block menu %}
  <li><a href="/credentials">Credentials</a></li>

{% endblock menu %}

{% block content %}
<br>
  <h1>All received Credentials</h1>

  {% if delete %}
    <p class="success">
        Deleting the credential was successful!
    </p>
    {% endif %}


  {% for credential in credentials %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="/credentials/{{ credential.referent }}">ID: {{ credential.referent }}</a></h5>
      <p class="card-text">
        <strong>Referent:</strong> {{ credential.referent }}<br>
      <p class="card-attributes">
      <strong>Attributes:</strong> <br>
      {% for key, value in credential.attrs.items %}
      {{ key }}: {{ value }}<br>
      {% endfor %}
      </p>
      </p>
    </div>
  </div>
  {% endfor %}

{% endblock content %}